<div id="widget{{widget.id}}" class="widget" style="{{widget.style}}">
  {{input value=widget.width}}
  <button {{action "saveWidget" widget}}>Save</button>
  <h2>{{widget.name}}</h2>
  {{#each templateFieldList as |field|}}
    <label>
      {{field.key}}:
      <textarea id="{{field.domID}}" {{action "saveField" field on="focusOut"}} name="{{field.key}}" value="{{field.value}}"></textarea>
    </label>
  {{/each}}
</div>
