<h2>Widget Template Form</h2>
<label>
  Title:
  {{input value=model.title}}
</label>
<br>
<button {{action "addField"}}>Add Field</button>
<br>
{{#each templateFields as |field|}}
  {{input value=field.name}}
  {{view "select" content=availableFieldTypes value=field.type}}
  <br>
{{/each}}
<br>
<button {{action "createWidgetTemplate"}}>Create</button>
